

body {
    height: auto;
    margin: 0;
 }
 header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
 header h1{
     background-color: rgb(0,0,0,0.7);
     padding: 10px;
     text-align: center;
     margin: 0;
     color:white ;
 }

 .navigate {   
    margin: 0;
    position: fixed;
    top: 57px;
    z-index: 1000;
    width: 100%;
 }
 
 
 .menu{
     background-color: rgb(0,0,0,0.5);
        margin: 0;
 }
 .menu li {
     display: inline-block;
     padding: 10px;
 }
 .menu li a {
     color: white;
     text-decoration: none;
     font-size: 20px;
     
 }
 
 .menu li:hover {
     background-color:rgb(0,0,0,0.7);
 }
 .menu li:nth-child(2):hover #dropdown, .menu li:nth-child(3):hover #dropdown{
     display: block;
 }
 #dropdown li{
     display: block;
 }
 #dropdown{
     position: absolute;
     display: none;
     background-color: whitesmoke;
     padding: 0px;
     max-width: 150px;
     top: 43px;
 
 }
 #dropdown li:hover{
     background-color: gainsboro;
 }
 #dropdown li a{
     color: steelblue;
     font-size: 16px;
 }
 .animation-container {
    margin-top: 103px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 61vh;
    border: 2px solid steelblue;
    overflow: hidden;
}

.image-container {
    display: flex;
    width: 300%;
   animation: slideImages 15s linear infinite;
    
}

.image-container img {
    flex: 1;
    width: 100%;
    height: auto;
    margin: 0;
    border-right: 2px solid steelblue;
}

@keyframes slideImages {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-275%);
    }
}

h2{
    padding-left: 20px;
}
.product {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    width: 290px;
    height: 300px;
    display: inline-block;
     transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}
.product img{
    border-radius: 10px;
    width: 225px;
    
    height: 100px;
}

.product:hover {
    transform: scale(1.05);
    border-color: rgb(0, 255, 76);
}

.product button {
   
    color: orange;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-size-adjust: 10px;
    border-radius: 5px;
    border-color: lightseagreen;
}

.product button:hover {
   
    border-color: rgb(0, 255, 76);
}
 footer{
    background-color: rgb(0,0,0,1);
    padding: 10px;
    text-align: center;
    margin: 0;
    color: white;
    
 }

 @media screen and (max-width: 768px) {
    .menu li {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .menu li:hover {
        background-color: transparent;
    }

    .menu li:nth-child(2):hover #dropdown,
    .menu li:nth-child(3):hover #dropdown {
        display: none;
    }

    #dropdown {
        position: relative;
        top: 0;
    }

    .product {
        width: calc(60%);
    }
}
